html
  body
    img(src='http://pingjs.com/logo_50h.png', alt='Pingjs Logo', title='Pingjs Logo')
    p Hi #{user.firstName} #{user.lastName},
    br
    p Your site #{site.url} is currently #{site.last_status}.
    p
    p Thank you,
    p Pingjs